<tr id="<%= dom_id position %>">
  <td class="text-start font-monospace">
    <%= position.symbol %>
  </td>
  <td class="text-center">
    <%= position.maturity_date&.strftime('%m/%d/%Y') %>
  </td>
  <td class="text-start">
    <%= position.account_number %>
  </td>
  <td class="text-end">
    <%= number_with_delimiter(position.quantity) %>
  </td>
  <td class="text-end">
    <%= number_to_currency(position.last_price, precision: 2) %>
  </td>
  <td class="text-end">
    <%= number_to_currency(position.current_value, precision: 2) %>
  </td>
  <td class="text-end">
    <%= number_to_percentage(position.total_gain_loss_percent, precision: 2) %>
  </td>
  <td class="text-end">
    <%= number_to_currency(position.cost_basis_total, precision: 2) %>
  </td>
  <td class="text-center">
    <%= position.date&.strftime('%Y-%m-%d') %>
  </td>
</tr>